body{
    font-family: 'Open Sans';
    font-weight: 300;
}

.container{
    text-align: center;
    padding-top: 100px;
    border-radius: 15px;
}
.inner-container{
    background: #999999;
    display: inline-block;
    border-radius: 15px;
    overflow: auto;
}

.equation{
    padding: 20px 20px 0 20px;
    color: #fff;
    font-size: 24px;
    text-align: left;
}

.readout{
    background: #999999;
    font-size: 90px;
    padding: 0 20px;
    text-align: right;
    border-radius: 15px 15px 0 0;
    color: #fff;
}

button{
    width: 100px;
    height: 90px;
    font-size: 36px;
    color: #000;
    background: #e2e2e2;
    border: 0;
    border-bottom: 3px solid #8e8e8e;
    font-family: 'Open Sans';
    font-weight: 200;
}

.extend{
    width: 204px;
}

.operator, .evaluate{
    background-color:  #f5923e;
    color: #fff;
}

.misc-operator{
    background-color:  #d6d6d6;
    color: #000;
}

#zero{
    border-radius: 0 0 0 15px;
}

#equal{
    border-radius: 0 0 15px 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    button{
        width: 170px;
        height: 160px;
    }

    .extend{
        width: 344px;
    }

    .container{
        padding-top: 300px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
