body{
    font-family: 'Open Sans';
    font-weight: 300;
}

.container{
    text-align: center;
    padding-top: 100px;
    border-radius: 15px;
}
.inner-container{
    background: #999999;
    display: inline-block;
    border-radius: 15px;
}

.readout{
    width: 380px;
    height: 100px;
    background: #999999;
    font-size: 90px;
    padding: 40px 20px 20px 20px;
    text-align: right;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
}

button{
    width: 100px;
    height: 100px;
    font-size: 36px;
    color: #000;
    background: #e2e2e2;
    border: 0;
    border-bottom: 3px solid #8e8e8e;
    font-family: 'Open Sans';
    font-weight: 200;
}

.extend{
    width: 204px;
}

.operator, .evaluate{
    background-color:  #f5923e;
    color: #fff;
}

#zero{
    border-radius: 0 0 0 15px;
}

#equal{
    border-radius: 0 0 15px 0;
}
